
.titulo{
   font-family: Arial, Helvetica, Sans-serif;
   color: rgba(5, 5, 5, 0.822);
   text-align: center;
   margin: 0px 30px;
   
   
   }

.divTitulo{
   display: flex !important;
   text-align: center !important;
   /* border: 2px solid #000; */
}
.imss{
    width: 150px;
    margin: 20px !important; 

    }

.mc{  
    width: 150px;
    margin: 20px !important;
    }


.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(2, 109, 20, 0.62);
    padding-top: 15px;
    top: -40px;
 }
  
 .login-page {
   padding: 29% 0 0;
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
   top: -10px;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(2, 109, 20, 0.62);
    top: -60px;
 }
  
 .login-form-header {
    padding-top: 19px;
 }
  
 .login-from-row {
    padding-top: 19px;
    padding-bottom: 19px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
    top: -40px;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }